In [7]:
import pandas as pd
list = pd.read_csv("Palavras em inglês - Sheet1.csv")
# Ver as 5 Palavras mais usadas no inglês
list.head()

,#,Palavra,Pronúncia,Tradução,Contexto
0,1,the,dã,"o, a, os, as",The book on the table belongs to me.
1,2,to be,tu bi,"ser, estar",She wants to be a doctor when she grows up.
2,3,and,endi,e,He likes pizza and ice cream.
3,4,of,óv,de,The cover of the magazine is very colorful.
4,5,a,a,"um, uma",She adopted a kitten from the shelter.